


/* Grupo de campos */
.form-group {
  margin-bottom: 15px;
}

/* Etiquetas */
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

/* Contenedor para agrupar precio y "Sin precio" */
.precio-group {
  display: flex;
  align-items: center; /* Alinear verticalmente */
  gap: 10px; /* Espaciado entre elementos */
}

/* Campo de precio */
.precio-group input[type="number"] {
  width: 120px; /* Ancho reducido */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

/* Contenedor del checkbox "Sin precio" */
.sin-precio-container {
  display: flex;
  align-items: center;
  gap: 5px; /* Espaciado entre checkbox y etiqueta */
}

/* Estilo para el checkbox */
.sin-precio-container input[type="checkbox"] {
  margin: 0; /* Quitar márgenes predeterminados */
}

/* Campos de entrada */
.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc; /* Bordes grises */
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
}

/* Campo de texto largo */
.form-group textarea {
  height: 100px;
  resize: none; /* Deshabilitar redimensionamiento */
}



/* Estilo del foco */
.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
  outline: none;
  border-color: #0f5ba3; /* Azul más claro */
  box-shadow: 0 0 5px rgba(15, 91, 163, 0.5);
}
