
  
  /* Encabezado */
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  

  
  /* Barra de búsqueda */
  .search-input {
    width: 250px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
  }
  


  
  /* Ajustes para pantallas pequeñas */
  @media screen and (max-width: 768px) {
    .avisos-container {
      padding: 10px;
      max-width: 95%;
    }
  
    .header-container {
      flex-direction: column;
      align-items: center;
    }
  
    .search-input {
      width: 100%;
      margin-top: 10px;
    }
  
    .action-buttons {
      flex-direction: column;
    }
  
    .action-buttons .p-button {
      width: 100%;
      margin-bottom: 5px;
    }
  }
  