.sidebar {
  width: 250px;
  background-color: #387ADF;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  position: fixed;
  right: 0; /* Posiciona la barra lateral a la derecha */
  top: 0;
  bottom: 0;
  padding-top: 20px;
  border-left: 1px solid #387ADF;
  transition: width 0.5s; /* Transición suave al colapsar */
}

.sidebar.collapsed {
  width: 80px; /* Ajusta el ancho al colapsar */
  transition: width 1s; /* Transición suave al colapsar */
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 20px 0 0 0;
}

.sidebar li {
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sidebar li:hover {
  background-color: #50c4ed;
}

.sidebar li::before {
  content: attr(data-icon);
  margin-right: 10px;
}

.sidebar.collapsed li span {
  display: none; /* Oculta el texto al colapsar */
}

.sidebar .logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.sidebar.collapsed .logo-container {
  justify-content: flex-start; /* Alinea el logo al inicio al colapsar */
}

.sidebar .logo-container img {
  max-width: 50%;
  height: auto;
}

.sidebar.collapsed .logo-container img {
  max-width: 80px; /* Ajusta el tamaño del logo al colapsar */
}

