.top-bar {
  display: flex;
  justify-content: flex-end; /* Alinea el contenido hacia la derecha */
  align-items: center;
  padding: 10px 20px; /* Ajusta el espaciado */
  background-color: rgb(15, 91, 163); /* Deep Blue */
  color: white;
}

.user-section {
  display: flex;
  align-items: center;
  gap: 10px; /* Espaciado entre icono, texto y botón */
}

.user-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%; /* Hace que el icono sea circular */
}
